/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Inter&display=swap');

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}

/* Altura minima de 100 % viewport */
body {
  min-height: 100vh;
}


/* Encabezado */
header {
  background-image: url(../images/sandia.jpg);
}

header .navbar button {
  background-color: #FAC462;
  border: 3px solid #FDA500;
}

header .navbar .navbar-nav li {
  background-color: #FAC462;
  border-bottom: 3px solid #FDA500;
}

header .navbar .navbar-nav .nav-item a {
  font-family: 'Sigmar', cursive;
  color: white;
  font-weight: 900;
  text-align: center;
}

header .navbar .navbar-nav .current {
  background-color: #FDA500;
}

/* Cuerpo principal */
main {
  background-color: #F8E3E8;
}

/* Menú lateral */
main .lateral {
  background-color: #C7DA64;
  padding: 0px;
}

main .lateral * {
  font-family: 'Sigmar', cursive;
}
main .lateral nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

main .lateral nav ul li {
  flex: 50%;
  text-align: center;
  padding: 0px 5px;
}

main .lateral nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

/* Articulo principal inicio */
.principal_inicio h2 {
  font-family: 'Hahmlet', serif;
  margin: 20px 0px;
}

.principal_inicio p {
  font-size: large;
  line-height: 1.5;
  text-align: justify;
}

/* Boton Subir */
.principal_inicio .volver {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button {
  background-color: #FAC462;
  border-radius: 20px;
  box-shadow: inset 0px 0px 10px #000000;
  padding: 2px 5px;
  font-family: 'Sigmar', cursive;
  font-weight: 800;
}
.button:hover {
  background-color: #FDA500;
  color: white;
}

.principal_inicio .volver a {
  color: black;
  text-decoration: none;
  padding: 4px;
}

/* Slider ofertas */
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
  justify-content: center;
}

#ofertas_semanales>div {
  justify-content: space-around;
}

#ofertas_semanales .carousel button span {
  background-color: #FAC462;
  border-radius: 10px;
}

/* Tarjeta */
.carta {
  background-color: white;
  width: 210px;
  height: 400px;
  padding: 5px;
  position: relative;
  box-shadow: 0px 0px 10px #000000;
  margin: 10px;
}

.carta img {
  width: 100%;
}

.carta p {
  margin: 0px;
}

.carta .promo {
  background-color: white;
  color: #ff0000;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 25px;
  left: 20px;
  transform: translate(4px, 17px) rotate(-45deg);
  animation: rotate 4s infinite;
}

.carta .tachado {
  text-decoration: line-through 1px #ff0000;
}

.carta .actual {
  font-size: 25px;
}

.carta .cent {
  vertical-align: text-top;
  font-size: 0.5em;
}

.carrito {
  background-color: #C7DA64;
  border-radius: 50px;
  padding: 5px 10px;
  box-shadow: inset 0px 0px 10px #000000;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.carrito:hover {
  background-color: #a2c200;
  color: white;
}


/* Animacion de rotacion promo */
@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(45deg) scale(150%);
  }

  100% {
    transform: rotate(-45deg);
  }
}

/* Mapa */
#mapa {
  display: flex;
  justify-content: center;
}

#mapa iframe {
  max-width: 100%;
}

/* Medios de pago */
#pago .tipo_pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#pago .tipo_pago p {
  margin-bottom: 10px;
}

/* Tienda */
.lista {
  padding: 0px;
}
.lista * {
  color: black;
}

.lista p {
  font-size: larger;
  font-weight: bolder;
  margin: 10px 10px 0px;
}

.lista .sub_lista li a {
  font-weight: 400;
  margin-left: 15px;
}

.lateral .dropdown-center {
  flex: auto;
}
.lateral .dropdown-center button,
.lateral .dropdown button {
  width: 100%;
  border: solid 2px #a2c200;
  font-weight: bolder;
}
.lateral .dropdown-center ul,
.lateral .dropdown ul {
  background-color: #C7DA64;
  border: solid 2px #a2c200;
}
.lateral .dropdown .dropdown-menu.show {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.lateral .dropdown .dropdown-menu li {
  margin: 10px;
}

.principal_tienda {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.principal_tienda h2 {
  font-family: 'Hahmlet', serif;
  margin-bottom: 10px;
}
.principal_tienda form {
  align-self: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
}
.principal_tienda form img {
  vertical-align: text-top;
}
.principal_tienda form * {
  background: none;
  padding-right: 3px;
  border: none;
}
.principal_tienda .paginas {
  align-self: flex-end;
  margin-bottom: 20px;
  margin-top: 10px;
}
.principal_tienda .carta {
  height: 360px;
  max-width: calc((100vw - 80px)/2);
  max-height: calc(100vw - 80px);
}

/* Configurador */
.main_configurador {
  height: calc(100vh - 166px);
}

.lateral img {
  width: 100px;
  display: flex;
}

.principal_configurador {
  padding: 20px;
  display: flex;
}

.principal_configurador h3 {
  font-family: 'Hahmlet', serif;
}

.principal_configurador .vista {
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.principal_configurador .precio {
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.principal_configurador p {
  font-size: 25px;
  font-weight: 800;
}

.principal_configurador .carrito {
  padding: 5px 25px;
  position: static;
}

/* Contacto */
.principal_contacto {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal_contacto p {
  font-size: large;
}

.principal_contacto .redes {
  display: flex;
  max-width: 100%;
}

.principal_contacto .redes div {
  padding: 15px;
  max-width: 33%;
}

.principal_contacto .redes div img {
  max-width: 100%;
}

.principal_contacto form {
  background-color: #FAC462;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.principal_contacto form * {
  font-family: 'Sigmar', cursive;
}

.principal_contacto form .casillas {
  padding: 3px 5px;
  border-radius: 12px;
  margin-bottom: 5px;
  background-color: white;
  border-width: 2px;
  border-style: inset;
  border-color:rgb(133, 133, 133);
  border-image: initial;

}

.principal_contacto form .carrito {
  position: static;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
}
form img {
  max-height: 64px;
  order: 1;
  margin-left: 10px;
}

.principal_contacto form ol {
  padding: 0px;
  margin: 0px;
}
.principal_contacto form ol>:not(:last-child) {
  border-bottom: 1px solid black;
}
.principal_contacto form ol li {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.principal_contacto form button {
  position: static;
  align-self: flex-end;
  font-weight: 800;
}
.principal_contacto form .preview p{
  color: grey;
}

/* Carrito */
.principal_carrito {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.principal_carrito .productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
  margin-bottom: 20px;
}

.principal_carrito .productos:nth-last-child(3) {
  border-bottom: solid 4px black;
}

.principal_carrito .productos p {
  padding-left: 8px;
  margin: 0px;
}

.principal_carrito .productos img {
  width: 100px;
}

.principal_carrito .productos div {
  display: flex;
  align-items: center;
}

.principal_carrito .productos .carrito img {
  width: 25px;
}

.principal_carrito .total {
  display: flex;
  justify-content: flex-end;
}

.principal_carrito .total p {
  padding-left: 30px;
  font-size: large;
  font-weight: 800;
}

.principal_carrito .carrito {
  position: static;
  align-self: flex-end;
  font-family: 'Sigmar', cursive;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  header .navbar div .menu {
    justify-content: flex-end;
  }

  header .navbar .navbar-nav li {
    border: 5px solid #ffffff00;
    border-radius: 40px;
    margin: 5px;
  }

  header .navbar .navbar-nav li:hover {
    border: 5px solid rgb(253, 165, 0);
  }

  main .lateral nav ul {
    flex-direction: column;
  }

  main .lateral nav ul li {
    text-align: left;
    margin: 5px 0px;
  }

  #pago {
    display: flex;
    justify-content: space-evenly;
  }

  .main_configurador .row {
    min-height: 100%;
  }
  
  .lateral .dropdown ul {
    width: 200%;
  }

  .principal_carrito {
    padding-left: 200px;
    padding-right: 200px;
  }
}