@charset "UTF-8";
/***********/
/* Colores */
/***********/
/**************************/
/* Importación de fuentes */
/**************************/
@import url("https://fonts.googleapis.com/css2?family=Hahmlet&family=Inter&display=swap");
/*************/
/* Reset CSS */
/*************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
}

/***********************************/
/* Altura minima de 100 % viewport */
/***********************************/
body {
  min-height: 100vh;
}

/********************/
/* Cuerpo principal */
/********************/
main {
  background-image: radial-gradient(circle, #F8E3E8, #fa9bb1);
}

/***********/
/* Tarjeta */
/***********/
.carta {
  background-color: white;
  width: 210px;
  height: 400px;
  padding: 5px;
  position: relative;
  box-shadow: 0px 0px 10px black;
  margin: 10px;
}
.carta img {
  width: 100%;
}
.carta p {
  margin: 0px;
}
.carta p.promo {
  background-color: white;
  color: red;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 30px;
  left: 24px;
  animation: rotate 4s infinite;
}
.carta p.actual {
  font-size: 25px;
}
.carta p .tachado {
  text-decoration: line-through 1px red;
}
.carta p .cent {
  vertical-align: text-top;
  font-size: 0.5em;
}
.carta .boton--verde {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*********/
/* Boton */
/*********/
/***************/
/* Boton verde */
/***************/
.boton--verde {
  background-color: #C7DA64;
  border-radius: 50px;
  padding: 5px 10px;
  box-shadow: inset 0px 0px 10px black;
  font-family: "Sigmar", cursive;
  font-weight: 800;
}
.boton--verde:hover {
  background-color: #A2C200;
  color: white;
}

/*****************/
/* Boton naranja */
/*****************/
.boton--naranja {
  background-color: #FAC462;
  border-radius: 50px;
  padding: 5px 10px;
  box-shadow: inset 0px 0px 10px black;
  font-family: "Sigmar", cursive;
  font-weight: 800;
}
.boton--naranja:hover {
  background-color: #FDA500;
  color: white;
}

/**************/
/* Encabezado */
/**************/
header {
  background-image: url(../images/sandia.jpg);
}
header .navbar button {
  background-color: #FAC462;
  border: 3px solid #FDA500;
}
header .navbar .navbar-nav li {
  background-color: #FAC462;
  border-bottom: 3px solid #FDA500;
}
header .navbar .navbar-nav li a {
  font-family: "Sigmar", cursive;
  color: white;
  font-weight: 900;
  text-align: center;
}
header .navbar .navbar-nav li.current {
  background-color: #FDA500;
}
header .navbar .navbar-nav li:last-child {
  border: 0px;
}

@media screen and (min-width: 768px) {
  header .navbar div .menu {
    justify-content: flex-end;
  }
  header .navbar div .menu .navbar-nav li {
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 40px;
    margin: 5px;
  }
  header .navbar div .menu .navbar-nav li:hover {
    border: 5px solid #FDA500;
  }
}
/****************/
/* Menú lateral */
/****************/
main .lateral {
  background-color: #C7DA64;
  padding: 0px;
}
main .lateral * {
  font-family: "Sigmar", cursive;
}
main .lateral nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
main .lateral nav ul li {
  flex: 50%;
  text-align: center;
  padding: 0px 5px;
}
main .lateral nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
main .lateral .lista {
  padding: 0px;
}
main .lateral .lista * {
  color: black;
}
main .lateral .lista p {
  font-size: larger;
  font-weight: bolder;
  margin: 10px 10px 0px;
}
main .lateral .lista .sub_lista li a {
  font-weight: 400;
  margin-left: 15px;
}
main .lateral .dropdown-center {
  flex: auto;
}
main .lateral .dropdown .dropdown-menu.show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .lateral .dropdown .dropdown-menu li {
  margin: 10px;
}
main .lateral .dropdown .dropdown-menu li img {
  width: 100px;
}
main .lateral .dropdown button, main .lateral .dropdown-center button {
  width: 100%;
  border: solid 2px #A2C200;
  font-weight: bolder;
}
main .lateral .dropdown ul, main .lateral .dropdown-center ul {
  background-color: #C7DA64;
  border: solid 2px #A2C200;
}
main .lateral .dropdown ul li:hover, main .lateral .dropdown-center ul li:hover {
  background-color: #A2C200;
}

@media screen and (min-width: 768px) {
  main .lateral nav ul {
    flex-direction: column;
  }
  main .lateral nav ul li {
    text-align: left;
    margin: 5px 0px;
  }
  main .lateral .dropdown ul {
    width: 200%;
  }
}
/*****************************/
/* Articulo principal inicio */
/*****************************/
.principal_inicio article h2 {
  font-family: "Hahmlet", serif;
  margin: 20px 0px;
}
.principal_inicio article p {
  font-size: large;
  line-height: 1.5;
  text-align: justify;
}
.principal_inicio article .volver {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.principal_inicio #ofertas_semanales > div {
  justify-content: space-around;
}
.principal_inicio #ofertas_semanales .carousel button span {
  background-color: #FDA500;
  border-radius: 10px;
}
.principal_inicio #ofertas_semanales .carousel .carousel-inner .carousel-item.active,
.principal_inicio #ofertas_semanales .carousel .carousel-inner .carousel-item-next,
.principal_inicio #ofertas_semanales .carousel .carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: center;
}
.principal_inicio #metodos_de_entrega .mapa {
  display: flex;
  justify-content: center;
}
.principal_inicio #metodos_de_entrega .mapa iframe {
  max-width: 100%;
}
.principal_inicio #medios_de_pago .pago .tipo_pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.principal_inicio #medios_de_pago .pago .tipo_pago p {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .pago {
    display: flex;
    justify-content: space-evenly;
  }
}
/*****************************/
/* Articulo principal tienda */
/*****************************/
.principal_tienda {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.principal_tienda form {
  align-self: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
}
.principal_tienda form * {
  background: none;
  padding-right: 3px;
  border: none;
}
.principal_tienda form img {
  vertical-align: text-top;
}
.principal_tienda h2 {
  font-family: "Hahmlet", serif;
  margin-bottom: 10px;
}
.principal_tienda .paginas {
  align-self: flex-end;
  margin-bottom: 20px;
  margin-top: 10px;
}
.principal_tienda div .carta {
  height: 360px;
  max-width: calc((100vw - 80px) / 2);
  max-height: calc(100vw - 80px);
}

/***********************************/
/* Articulo principal configurador */
/***********************************/
.main_configurador {
  height: calc(100vh - 166px);
}
.main_configurador .principal_configurador {
  padding: 20px;
  display: flex;
}
.main_configurador .principal_configurador h3 {
  font-family: "Hahmlet", serif;
}
.main_configurador .principal_configurador .vista {
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main_configurador .principal_configurador .precio {
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main_configurador .principal_configurador .precio p {
  font-size: 25px;
  font-weight: 800;
}
.main_configurador .principal_configurador .precio .boton--verde {
  padding: 5px 25px;
}

@media screen and (min-width: 768px) {
  .main_configurador .row {
    min-height: 100%;
  }
}
/*******************************/
/* Articulo principal contacto */
/*******************************/
.principal_contacto {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal_contacto p {
  font-size: large;
}
.principal_contacto .redes {
  display: flex;
  max-width: 100%;
}
.principal_contacto .redes div {
  padding: 15px;
  max-width: 33%;
}
.principal_contacto .redes div a img {
  max-width: 100%;
}
.principal_contacto form {
  background-color: #FAC462;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.principal_contacto form * {
  font-family: "Sigmar", cursive;
}
.principal_contacto form .casillas {
  padding: 3px 5px;
  border-radius: 12px;
  margin-bottom: 5px;
  background-color: white;
  border-width: 2px;
  border-style: inset;
  border-color: grey;
  border-image: initial;
}
.principal_contacto form .boton--verde {
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
}
.principal_contacto form .preview p {
  color: grey;
}
.principal_contacto form .preview ol {
  padding: 0px;
  margin: 0px;
}
.principal_contacto form .preview ol > :not(:last-child) {
  border-bottom: 1px solid black;
}
.principal_contacto form .preview ol li {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.principal_contacto form .preview ol li img {
  max-height: 64px;
  order: 1;
  margin-left: 10px;
}
.principal_contacto form button {
  align-self: flex-end;
}

/******************************/
/* Articulo principal carrito */
/******************************/
.principal_carrito {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.principal_carrito .productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
  margin-bottom: 20px;
}
.principal_carrito .productos:nth-last-child(3) {
  border-bottom: solid 4px black;
}
.principal_carrito .productos p {
  padding-left: 8px;
  margin: 0px;
}
.principal_carrito .productos div {
  display: flex;
  align-items: center;
}
.principal_carrito .productos div > img {
  width: 100px;
}
.principal_carrito .productos div > img:hover {
  transform: scale(2);
}
.principal_carrito .total {
  display: flex;
  justify-content: flex-end;
}
.principal_carrito .total p {
  padding-left: 30px;
  font-size: large;
  font-weight: 800;
}
.principal_carrito .boton--verde {
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .principal_carrito {
    padding-left: 200px;
    padding-right: 200px;
  }
}
/*******************************/
/* Animacion de rotacion promo */
/*******************************/
@keyframes rotate {
  0% {
    transform: rotate(-45deg) scale(150%);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg) scale(150%);
  }
}

/*# sourceMappingURL=styles.css.map */
