/****************/
/* Menú lateral */
/****************/
  .lateral {
    background-color: $verde-claro;
    padding: 0px;
    grid-area: aside;
    * {
    font-family: 'Sigmar', cursive;
    }
    nav {
      ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        li {
          flex: 50%;
          text-align: center;
          padding: 0px 5px;
          a {
            color: black;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
    .lista {
      padding: 0px;
      * {  
        color: black;
      }
      p {
        font-size: larger;
        font-weight: bolder;
        margin: 10px 10px 0px;
      }
      .sub_lista {
        li {
          a {
            font-weight: 400;
            margin-left: 15px;
          }
        }
      }
    }
    .dropdown-center {
      flex: auto;
    }
    .dropdown{
      .dropdown-menu {
        &.show {
          display:flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        li {
          margin: 10px;
          img {
            width: 100px;
          }
          
        }
      }
    }
    .dropdown, .dropdown-center {
      button {
        width: 100%;
        border: solid 2px $verde-oscuro;
        font-weight: bolder;
      }
      ul {
        background-color: $verde-claro;
        border: solid 2px $verde-oscuro;
        li:hover {
          background-color: $verde-oscuro;
        }
      }
    }
  }

@media screen and (min-width: 768px) {
    .lateral {
      nav {
        ul {
          flex-direction: column;
          li {
            text-align: left;
            margin: 5px 0px;
          }
        }
      }
      .dropdown {
        ul {
          width: 200%;
        }
      }
    }
  }


