/******************************/
/* Articulo principal carrito */
/******************************/
.principal_carrito {
  display: flex;
  flex-direction: column;
  padding: 20px;
  grid-area: aside / aside / main / main;
  .productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    margin-bottom: 20px;
    &:nth-last-child(3) {
      border-bottom: solid 4px black;
    }
    p {
      padding-left: 8px;
      margin: 0px;
    }
    div {
      display: flex;
      align-items: center;
      >img {
        width: 100px;
        &:hover {
          transform: scale(2);
        }
      }
    }
  }
  .total {
    display: flex;
    justify-content: flex-end;
    p {
      padding-left: 30px;
      font-size: large;
      font-weight: 800;
    }
  }
  .boton--verde {
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .principal_carrito {
    padding-left: 200px;
    padding-right: 200px;
  }
}

