/***********************************/
/* Articulo principal configurador */
/***********************************/
.principal_configurador {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  h3 {
    font-family: 'Hahmlet', serif;
  }
  .vista {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .precio {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 25px;
      font-weight: 800;
    }
    .boton--verde {
      padding: 5px 25px;
    }
  }
}

@media screen and (min-width: 768px) {
}