/*******************************/
/* Articulo principal contacto */
/*******************************/
.principal_contacto {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: aside / aside / main / main;
  p {
    font-size: large;
    text-align: justify;
  }
  .redes {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    div {
      padding: 15px;
      max-width: 33%;
      a {
        img {
          max-width: 100%;
          &:hover {
            animation: hover 0.3s;
          }
        }
      }
    }
  }
  form {
    background-color: $naranja-claro;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    * {
      font-family: 'Sigmar', cursive;
    }
    .casillas {
      padding: 3px 5px;
      border-radius: 12px;
      margin-bottom: 5px;
      background-color: white;
      border-width: 2px;
      border-style: inset;
      border-color:grey;
      border-image: initial;
    }
    .boton--verde {
      border-width: 2px;
      border-style: outset;
      border-color: buttonborder;
    }
    .preview {
      p{
        color: grey;
      }
      ol {
        padding: 0px;
        margin: 0px;
        >:not(:last-child) {
          border-bottom: 1px solid black;
        }
        li {
          display: flex;
          justify-content: space-between;
          background-color: white;
          img {
            max-height: 64px;
            order: 1;
            margin-left: 10px;
          }
        }
      }
    }
    button {
      align-self: flex-end;
    }
  }
}





