/**************/
/* Encabezado */
/**************/
header {
  background-image: url(../images/sandia.jpg);
  .navbar {
    button {
      background-color: $naranja-claro;
      border: 3px solid $naranja-oscuro;
    }
    .navbar-nav {
      li {
        background-color: $naranja-claro;
        border-bottom: 3px solid $naranja-oscuro;
        a {
          font-family: 'Sigmar', cursive;
          color: white;
          font-weight: 900;
          text-align: center;
        }
        &.current {
          background-color: $naranja-oscuro;
        }
        &:last-child {
          border: 0px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .navbar {
      div {
        .menu {
          justify-content: flex-end;
          .navbar-nav {
            li {
              border: 5px solid #ffffff00;
              border-radius: 40px;
              margin: 5px;
              transition: all 1s cubic-bezier(0.1, 1.8, 0.65, 1.8);
              &:not(.current):hover {
                transform: scale(1.2);
                background-color: $naranja-oscuro;
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }
}



