@media screen and (min-width: 768px) {
  header {
    .navbar {
      div {
        .menu {
          justify-content: flex-end;
          .navbar-nav {
            li {
              border: 5px solid #ffffff00;
              border-radius: 40px;
              margin: 5px;
              &:hover {
                border: 5px solid $naranja-oscuro;
              }
            }
          }
        }
      }
    }
  }
  main {
    .lateral {
      nav {
        ul {
          flex-direction: column;
          li {
            text-align: left;
            margin: 5px 0px;
          }
        }
      }
      .dropdown {
        ul {
          width: 200%;
        }
      }
    }
  }
  #pago {
    display: flex;
    justify-content: space-evenly;
  }
  .main_configurador {
    .row {
      min-height: 100%;
    }
  }
  .principal_carrito {
    padding-left: 200px;
    padding-right: 200px;
  }
}